@import '../mixins.css.scss';

html.home.index {
	header#top + div.inner { width: 100% !important; }

	div#billboard {
		height: 330px; background: #E55453; padding-top: 50px;

		&.cta-docked { margin-bottom: 60px; }

		div.inner { padding: 0 10px; }

		.sprite {
			background: url("/assets/billboard.png"); width: 90px; height: 90px; text-indent: -9999px;

			&.curate { background-position: 0 0; }
			&.discover { background-position: 0 -90px; }
			&.logo { background-position: 0 -180px; width: 367px; height: 115px; }
			&.share { background-position: 0 -295px; }
		}

		div.left {
			@include width(5); float: left; padding-top: 40px;

			h3 { font-size: 16px; font-style: italic; color: #A43B3B; text-align: center; margin-top: 15px; }
		}

		ul.features {
			list-style: none; float: right; padding-top: 21px; width: 480px;

			li {
				float: left; @include width(2); margin-left: 20px;

				div.sprite { margin: 0 auto 15px; }
				h4 { font-size: 32px; text-transform: uppercase; color: #fff; text-align: center; margin-bottom: 6px; }
				p.description { font-size: 13px; text-align: center; line-height: 18px; color: #fff; font-weight: normal; font-style: italic;}
			}
		}

		h3.discover { display: none; font-size: 20px; font-weight: normal; color: #fff; font-style: italic; text-align: center; }
	}

	div.main { padding-top: 90px; }

	ul.items {
		height: 454px !important; overflow: hidden;position: relative;
	}

	div.fade { content: ""; margin: -12px 0 24px; width: 100%; width: 100%; background: url("/assets/home/fade.png") center center no-repeat; height: 12px; position: relative; z-index: 2; }

	a.see-all.button {
		display: block; margin: 0 auto 120px; width: 180px; padding: 9px 15px; text-align: center;

		&:hover { background: #E55453; }
	}

	h2.strike {
		menu {
			margin-top: -7px;

			li {
				padding-left: 0;

				a { padding: 0; }
			}
		}
	}

	//one column
	@media only screen and (max-width : 639px) {
		h2.strike {
			margin-bottom: 60px;

			menu {
				position: absolute; top: 36px; margin: 0 0 0 2px; padding: 0;

				li {
					a { margin-left: 2px; }
				}
			}
		}

		div#billboard {
			height: 200px; padding-top: 20px;

			div.left { display: none; }

			ul.features {
				padding-top: 0; float: none; text-align: center; width: auto;

				li {
					width: 90px; margin: 0 5px; display: inline-block; float: none;

					&:first-child { margin-left: 0; }
					&:last-child { margin-right: 0; }

					h4, p.description { display: none; }
				}
			}

			h3.discover { display: block; }
		}
	}

	//two columns
	@media only screen and (min-width: 640px) and (max-width: 959px) {
		div#billboard {
			height: 260px; padding-top: 30px;

			div.left { display: none; }

			ul.features {
				padding-top: 0; float: none; text-align: center; width: auto;

				li { display: inline-block; float: none; }
			}
		}
	}
}