<div id="billboard">
	<div class="inner">
		<h1 class="din med">WOAH THERE!</h1>
		<p>We're not trying to hijack your Facebook profile. We just need access to some basic information so we can make it easier for you to sign in and share content with your friends.</p>
		<p>If you prefer to keep Facebook out of the equation, you can sign up directly with The Toolbox below.</p>
	</div>

	<div id="signup-cta-failure">
		<div class="inner group">
			<%= link_to 'Continue With Facebook', '/auth/facebook', class: 'fb-login gray button' %>
			<%= link_to 'Sign Up With Toolbox', signup_path, class: 'blue button semibold' %>
		</div>
	</div>
</div>