@import '../mixins.css.scss';

html.about.index {
	header#top + div.inner { width: 100% !important; }

	.about-sprite {
		background: url("/assets/about/sprite.png"); text-indent: -9999px;

		&.alejandro { background-position: 0 0; width: 140px; height: 140px; }
		&.contact { background-position: 0 -140px; width: 140px; height: 140px; }
		&.curate { background-position: 0 -280px; width: 90px; height: 90px; }
		&.discover { background-position: 0 -370px; width: 90px; height: 90px; }
		&.email {
			background-position: 0 -460px; width: 40px; height: 40px;

			&:hover { background-position: 0 -1330px; }
		}
		&.location { background-position: 0 -500px; width: 140px; height: 140px; }
		&.mark { background-position: 0 -640px; width: 140px; height: 140px; }
		&.peter { background-position: 0 -780px; width: 140px; height: 140px; }
		&.share { background-position: 0 -920px; width: 90px; height: 90px; }
		&.skylight { background-position: 0 -1010px; width: 140px; height: 140px; }
		&.twitter {
			background-position: 0 -1150px; width: 40px; height: 40px;

			&:hover { background-position: 0 -1650px; }
		}
		&.wendy { background-position: 0 -1690px; width: 100px; height: 100px; }
		&.yvette { background-position: 0 -1790px; width: 100px; height: 100px; }
		&.markg { background-position: 0 -1890px; width: 100px; height: 100px; }
	}

	div#billboard {
		background: #E7534F url("/assets/about/billboard.jpg") center center; height: 330px; color: #fff; text-align: center; padding-top: 110px;

		div.inner { padding: 0 10px; }

		&.cta-docked { margin-bottom: 150px; }

		h4 { font-size: 18px; font-weight: normal; font-style: italic; }
		p { font-size: 22px; font-style: italic; margin-top: 18px; }
	}

	div.top-section {
		margin-top: 90px;

		div.how {
			@include width(6); float: left; margin-left: 10px;

			h2 { margin: 0 0 24px; }
			p { margin: 18px 0; line-height: 24px; }
		}

		div.useful-toolbox {
			@include width(6); float: left; margin-left: 20px; margin-right: 10px;

			h2 { margin: 0; }

			ul {
				list-style: none; margin: 60px auto 0; text-align: center;

				li {
					width: 100px; margin: 0 24px; display: inline-block;

					div.about-sprite { margin: 0 auto 6px; }
					h5 { font-size: 32px; text-align: center; color: #BFBDB6; text-transform: uppercase; letter-spacing: -1px; }
				}
			}
		}
	}

	div.the-team {
		margin-top: 72px;

		a {
			color: #E55352; text-decoration: none;

			&:hover { border-bottom: 1px solid #E55352; }
		}

		> ul {
			list-style: none; margin-top: 48px;

			> li {
				float: left; @include width(4); margin: 0 10px;

				div.pic { margin: 0 auto; }
				h3 { font-size: 32px; text-align: center; text-transform: uppercase; margin: 36px 0 24px; }
				p.about {
					font-size: 13px; line-height: 24px; text-align: center; width: 260px; margin: 0 auto 24px;

					&.last { margin-bottom: 0; }
				}
				ul.contact {
					margin: 24px auto 0; list-style: none; text-align: center;

					li {
						display: inline-block; margin: 0 5px; clear: none;

						a { display: block; border: 0; }
					}
				}
			}
		}
	}

	div.the-organization {
		margin: 72px auto;

		ul {
			list-style: none; margin-top: 48px;

			li {
				float: left; @include width(4); margin: 0 10px;

				a {
					text-decoration: none;

					div.about-sprite { margin: 0 auto; }
					h5 { font-size: 32px; text-align: center; text-transform: uppercase; margin: 24px 0 0; color: #5C5C54; }

					&:hover {
						div.about-sprite.contact { background-position: 0 -1190px; width: 140px; height: 140px; }
						div.about-sprite.location { background-position: 0 -1370px; width: 140px; height: 140px; }
						div.about-sprite.skylight { background-position: 0 -1510px; width: 140px; height: 140px; }
					}
				}
			}
		}
	}

	div.advisors {
		margin: 210px auto 120px;

		ul {
			list-style: none;

			li {
				width: 140px; height: 180px; float: left; margin: 0 10px 20px;

				&.empty {
					&:after { content: ""; display: block; width: 100px; height: 100px; background: #E6E5E1; @include border-radius(100px); margin: 0 auto; }
				}

				div.pic { margin: 0 auto 15px; }
				h4 { font-size: 22px; line-height: 22px; text-align: center; text-transform: uppercase; }
			}
		}
	}

	//one column
	@media only screen and (max-width : 639px) {
		div#billboard {
			padding-top: 96px;

			h4 { font-size: 24px; }
			p { font-size: 16px; margin-top: 15px; }
		}

		div.top-section {
			div.how { @include width(4); }

			div.useful-toolbox {
				@include width(4); margin: 72px 0 0 10px;

				ul {
					margin-top: 24px;

					li:last-child { margin-top: 30px; }
				}
			}
		}

		div.the-team {
			> ul {
				> li {
					margin-top: 72px;

					&:first-child { margin-top: 0; }
				}
			}
		}

		div.the-organization {
			ul {
				li {
					margin-top: 72px;

					&:first-child { margin-top: 0; }
				}
			}
		}
	}

	//two columns
	@media only screen and (min-width: 640px) and (max-width: 959px) {
		div#billboard { padding-top: 100px; }

		div.top-section {
			div.how { @include width(8); }

			div.useful-toolbox { @include width(8); margin-left: 10px; margin-top: 72px; }
		}

		div.the-team {
			> ul {
				> li {
					width: 192px;

					&:first-child { margin-left: 0; }
					&:last-child { margin-right: 0; }

					h3 { font-size: 26px; }
					p.about { width: 150px; }
				}
			}
		}

		div.the-organization {
			ul {
				li {
					width: 192px;

					&:first-child { margin-left: 0; }
					&:last-child { margin-right: 0; }

					a {
						h5 { font-size: 26px; margin-top: 18px; }
					}
				}
			}
		}

		div.advisors {
			ul {
				li { width: 193px; }
			}
		}
	}
}