@import '../mixins.css.scss';

html.about.index {
	header#top + div.inner { width: 100% !important; }

	div.wrap-outer div.wrap-inner { padding-bottom: 245px; }

	.about-sprite {
		background: url("/assets/about/sprite.png"); text-indent: -9999px;

		&.contact { background-position: 0 -140px; width: 140px; height: 140px; }
		&.curate { background-position: 0 -280px; width: 90px; height: 90px; }
		&.discover { background-position: 0 -370px; width: 90px; height: 90px; }
		&.email {
			background-position: 0 -460px; width: 40px; height: 40px;

			&:hover { background-position: 0 -1330px; }
		}
		&.location { background-position: 0 -500px; width: 140px; height: 140px; }
		&.share { background-position: 0 -920px; width: 90px; height: 90px; }
		&.skylight { background-position: 0 -1010px; width: 140px; height: 140px; }
		&.twitter {
			background-position: 0 -1150px; width: 40px; height: 40px;

			&:hover { background-position: 0 -1650px; }
		}
	}

	div.person {
		width: 140px; height: 140px; background: url("/assets/about/people.png"); margin: 0 auto;

		&.alejandro-de-onis { background-position: 0 0; }
		&.elise-shulman-reed { background-position: 0 -141px; }
		&.mark-belinsky { background-position: 0 -281px; }
		&.mark-graham { background-position: 0 -421px; }
		&.melissa-jun-rowley { background-position: 0 -561px; }
		&.monica-wise { background-position: 0 -701px; }
		&.peter-gabriel { background-position: 0 -841px; }
		&.wendy-levy { background-position: 0 -981px; }
		&.yvette-alberdingk-thijm { background-position: 0 -1121px; }
	}

	div.billboardish {
		background: #E7534F url("/assets/about/billboard.jpg") center center; height: 620px; color: #fff; padding-top: 81px;

		h2 {
			font-size: 36px; background: url("/assets/about/billboard-header-line.png") no-repeat center center; text-transform: uppercase; text-align: center; margin-bottom: 30px;

			&.nudge-left { padding-right: 12px; }
		}

		div.inner { padding: 0 10px; }

		p { font-size: 18px; line-height: 32px; font-style: italic; margin-bottom: 18px; }

		div.left, div.right { width: 460px; float: left; }

		div.left { margin-right: 20px; }
	}

	div#billboard {
		&.cta-docked { margin-bottom: 150px; }
	}

	div#acknowledgement { height: 480px; }

	div.top-section {
		margin-top: 90px;

		div.how {
			@include width(6); float: left; margin-left: 10px;

			h2 { margin: 0 0 24px; }
			p { margin: 18px 0; line-height: 24px; }
		}

		div.useful-toolbox {
			@include width(6); float: left; margin-left: 20px; margin-right: 10px;

			h2 { margin: 0; }

			ul {
				list-style: none; margin: 60px auto 0; text-align: center;

				li {
					width: 100px; margin: 0 24px; display: inline-block;

					div.about-sprite { margin: 0 auto 6px; }
					h5 { font-size: 32px; text-align: center; color: #BFBDB6; text-transform: uppercase; letter-spacing: -1px; }
				}
			}
		}
	}

	div.the-team, div.advisors {
		margin-top: 72px;

		a {
			color: #E55352; text-decoration: none;

			&:hover { border-bottom: 1px solid #E55352; }
		}

		> ul {
			list-style: none; margin-top: 48px;

			> li {
				float: left; @include width(4); margin: 0 10px;

				a { color: #5C5C55; }

				div.pic { margin: 0 auto; }
				h3 { font-size: 32px; text-align: center; text-transform: uppercase; margin: 21px 0 0; }
				h4 { font-size: 16px; text-align: center; font-style: italic; color: #E65453; font-weight: normal; margin-bottom: 24px; }
			}
		}
	}

	div.the-organization {
		margin: 72px auto;

		ul {
			list-style: none; margin-top: 48px;

			li {
				float: left; @include width(4); margin: 0 10px;

				a {
					text-decoration: none;

					div.about-sprite { margin: 0 auto; }
					h5 { font-size: 32px; text-align: center; text-transform: uppercase; margin: 24px 0 0; color: #5C5C54; }

					&:hover {
						div.about-sprite.contact { background-position: 0 -1190px; width: 140px; height: 140px; }
						div.about-sprite.location { background-position: 0 -1370px; width: 140px; height: 140px; }
						div.about-sprite.skylight { background-position: 0 -1510px; width: 140px; height: 140px; }
					}
				}
			}
		}
	}

	//one column
	@media only screen and (max-width : 639px) {
		div.billboardish {
			height: 620px; padding-top: 48px;

			h2 { font-size: 24px; background: none; margin-bottom: 18px; }

			p { font-size: 12px; line-height: 22px; margin-bottom: 12px; }

			div.left, div.right { width: 300px; float: none; margin: 0; }
		}

		div#acknowledgement { height: 500px; }

		div.top-section {
			div.how { @include width(4); }

			div.useful-toolbox {
				@include width(4); margin: 72px 0 0 10px;

				ul {
					margin-top: 24px;

					li:last-child { margin-top: 30px; }
				}
			}
		}

		div.the-team, div.advisors {
			> ul {
				> li {
					margin-top: 72px;

					&:first-child { margin-top: 0; }
				}
			}
		}

		div.the-organization {
			ul {
				li {
					margin-top: 72px;

					&:first-child { margin-top: 0; }
				}
			}
		}
	}

	//two columns
	@media only screen and (min-width: 640px) and (max-width: 959px) {
		div.billboardish {
			height: 600px; padding-top: 60px;

			p { font-size: 16px; line-height: 29px; margin-bottom: 12px; }

			div.left, div.right { width: 300px; }
		}

		div.top-section {
			div.how { @include width(8); }

			div.useful-toolbox { @include width(8); margin-left: 10px; margin-top: 72px; }
		}

		div.the-team, div.advisors {
			> ul {
				> li {
					width: 192px;

					&:first-child { margin-left: 0; }
					&:last-child { margin-right: 0; }

					h3 { font-size: 26px; }
					p.about { width: 150px; }
				}
			}
		}

		div.the-organization {
			ul {
				li {
					width: 192px;

					&:first-child { margin-left: 0; }
					&:last-child { margin-right: 0; }

					a {
						h5 { font-size: 26px; margin-top: 18px; }
					}
				}
			}
		}
	}
}