@import '../mixins.css.scss';

html.articles.show {
	div.wrap-inner { padding-top: 90px; }

	article {
		@include width(8); margin-left: 10px; background: #fff; float: left; padding: 20px; @include border-radius(6px); position: relative;

		h1 { color: #5C5C54; font-size: 32px; font-weight: 600; width: 410px; }

		ul.categories {
			list-style: none; font-size: 15px; font-style: italic;

			li {
				margin: 0; float: left; padding-right: 4px;

				&:after { content: ", "; color: #E65453; }
				&:last-child:after { content: ""; }

				a { color: #E65453; text-decoration: none; }
			}
		}

		div.meta {
			position: absolute; top: 21px; right: 20px;

			a.edit { background-color: #F2F1ED; padding: 6px 6px 7px 7px; @include border-radius(42px); display: block; float: right; margin: 0 0 0 10px; float: right; }

			div.add-remove-container {
				float: right;

				&.add a.add { display: block; }
				&.remove a.remove { display: block; }
				&.loading {
					a.add, a.remove { display: none; }
					a.loading { display: block; }
				}

				a {
					display: none; background: #F2F1ED; font-weight: 600; font-size: 16px; text-decoration: none; text-transform: uppercase; @include border-radius(30px); padding: 8px 14px 8px 12px; color: #A6A5A3;

					&:hover {
						background: #E55453; color: #fff;

						div.action-icon { background-position: -168px -16px; }
					}

					&.join { display: block; }

					&.loading {
						background: #E55453;

						div.loader { background: url("/assets/loading.gif") no-repeat center center; width: 16px; height: 24px; margin-left: 9px; float: left; }
					}

					div.action-icon { float: left; }
					span { display: block; float: left; padding: 1px 0 0 6px; }
				}
			}
		}

		div.body {
			color: #807E77; font-size: 14px; line-height: 22px; border-bottom: 2px solid #EFEEED; margin: 30px 0 0; padding-bottom: 12px;

			img { max-width: 100%; @include border-radius(4px); position: relative; }
			p { margin: 12px 0; }
			ul, ol {
				margin: 12px 0 12px 30px;

				li { margin: 3px 0; }
			}
			a { color: #E65453; }
			blockquote { font-size: 18px; font-style: italic; padding: 12px 18px 15px; background: #F2F1ED; color: #807E77; @include border-radius(3px); }
			blockquote + blockquote { margin-top: -3px; }

			div.source {
				font-size: 13px; font-weight: 600; background: #F2F1ED; max-width: 240px; @include border-radius(30px); display: inline-block; padding: 4px 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin: 12px 0 9px;

				a { color: #E65453; text-decoration: none; }
			}
		}

		div.disqus {
			padding-top: 24px;
		}
	}

	aside {
		@include width(4); float: right; margin-right: 10px;

		section {
			margin: 20px 0 30px;
		}
	}

	//one column
	@media only screen and (max-width : 639px) {
		article {
			@include width(4);

			header {
				h1 { font-size: 24px; width: 100%; }

				// div.add-remove-container { position: relative; top: auto; right: 0; clear: left; margin-top: 12px; float: left; }
				div.meta {
					position: relative; top: auto; right: auto; margin-top: 18px;

					a.edit { float: left; margin: 0 10px 0 0; }
					div.add-remove-container { float: left; }
				}
			}

			div.body { font-size: 13px; }
		}
	}

	//two columns
	@media only screen and (min-width: 640px) and (max-width: 959px) {
		aside {
			@include width(8);

			section {
				float: left; @include width(4); margin-left: 20px;

				&:nth-child(odd) { margin-left: 0; }
			}
		}
	}
}