<p>Hey <%= @user.first_name %>!</p>

<p>Thanks for signing up for The Toolbox! We're glad to have you on board. If you'd like to receive our occasional newsletter with information on new tools and more, you can <a href="http://eepurl.com/D_1fL">sign up here</a>.</p>