<%= render 'shared/filter', docked: true, type: 'articles' %>

<ul class="items articles">
	<% @articles.each do |article| %>
		<%= render 'articles/article', article: article %>
	<% end %>
</ul>

<div id="infinite-indicator" class="group"></div>
<%= paginate @articles %>