<%= render 'shared/filter', docked: true, type: 'articles' %>

<% if @articles.count > 0 %>
	<ul class="items articles">
		<% # render 'shared/category_banner' %>

		<% @articles.each do |article| %>
			<% if article.published || current_user && current_user.admin %>
				<%= render 'articles/article', article: article %>
			<% end %>
		<% end %>
	</ul>
<% else %>
	<div id="no-tool-results">
		<div class="inner">
			<h3>We can't find any articles that match your search.</h3>
		</div>
	</div>
<% end %>

<div id="infinite-indicator" class="group"></div>
<%= paginate @articles %>