@import '../mixins.css.scss';

menu#filter {
	background: #E55453; @include border-radius(5px); @include width(12); margin: 0 0 10px 10px; height: 60px; z-index: 50;

	button#filter-trigger { display: none; }

	input#filter-search { position: absolute; left: 574px; top: 15px; height: 29px; background: transparent; border-radius: 0; width: 30px !important; padding: 0; cursor: pointer; text-indent: 100%; color: transparent; overflow: hidden; white-space: nowrap; }

	&.tools {
		input.keyword { width: 250px; background-position: 218px 9px; }
		div.fancy-select { width: 150px !important; }
	}

	select.category-select { display: none; }

	input::-webkit-input-placeholder { color: #fff; }
	input::-moz-placeholder { color: #fff; }

	input.keyword {
		background: #A43B3B url("/assets/keyword-icon.png") 328px 9px no-repeat; color: #fff; font-size: 13px; height: 40px; @include border-radius(3px); padding: 6px 33px 6px 12px; display: block; width: 360px; float: left; margin: 10px 0 0 10px;

		&:focus { background-color: #732827; outline: 0; }
	}

	/* --------------------------------------------------
	Fancy Selects
	-------------------------------------------------- */
	div.fancy-select {
		position: relative; color: #fff; width: 200px !important; margin: 10px 0 0 10px; float: left;

		&.disabled { @include opacity(0.5); }

		select {
			width: 100%; height: 100%; display: block; position: absolute; top: 6px; left: 0; @include opacity(0);

			&:focus + div.trigger { background-color: #732827; }
		}

		div.trigger, ul.options { background-color: #A43B3B; }

		div.trigger {
			cursor: pointer; font-size: 13px; padding: 11px 24px 11px 9px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; position: relative; @include border-radius(3px);

			&:after { content: ""; display: block; position: absolute; width: 0; height: 0; border: 5px solid transparent; border-top-color: #E55453; top: 17px; right: 9px; }

			&.open { background: #732827; @include border-radius(3px 3px 0 0); }
		}

		ul.options {
			position: absolute; top: 40px; left: 0; display: none; z-index: 50; max-height: 200px; overflow: auto; background: #722929; padding: 0 10px 10px; font-size: 13px; font-weight: 600; @include border-radius(0 0 3px 3px); max-width: 100%; list-style: none;

			li {
				padding: 4px 9px 4px 12px; cursor: pointer; @include border-radius(3px);

				&:hover, &.hover { background: #A43B3B; }
			}
		}
	}
}

header#top + menu#filter, menu#filter.docked {
	@include border-radius(0 0 5px 5px); position: fixed; top: 50px; left: 50%; margin-left: -470px;
}

//one column
@media only screen and (max-width : 639px) {
	header#top + menu#filter, menu#filter.docked {
		margin-left: -150px;
	}

	menu#filter input#filter-search { left: 202px; }

	html:not(.admin) {
		menu#filter {
			@include width(4); overflow: hidden;

			&.open {
				height: 160px; overflow: visible;

				button#filter-trigger { background-position: bottom; }
			}

			input.keyword { position: absolute; width: 230px; top: 10px; left: 10px; margin: 0; background-position: 196px 9px; }

			button#filter-trigger { display: block; width: 40px; height: 40px; padding: 0; background: url("/assets/filter-trigger.png"); @include border-radius(0); top: 10px; right: 10px; position: absolute; }

			div.fancy-select {
				width: 135px !important; position: absolute; top: 60px; margin: 0;

				ul.options { font-size: 12px; }

				&.platform { position: absolute; left: 10px; }
				&.order { position: absolute; right: 10px; }
			}

			&.articles {
				div.fancy-select { width: 280px !important; }
			}

			ul.category-icons {
				float: left; margin: 0 0 0 2px; position: absolute; top: 100px;

				li {
					a { margin-left: 2px; }
				}
			}
		}
	}
}

//two columns
@media only screen and (min-width: 640px) and (max-width: 959px) {
	header#top + menu#filter, menu#filter.docked {
		margin-left: -310px;
	}

	html:not(.admin) {
		menu#filter {
			@include width(8); height: 110px;

			&.tools {
				div.fancy-select { width: 295px !important; }
			}

			&.articles {
				div.fancy-select { width: 600px !important; }
			}

			input.keyword { width: 250px; background-position: 218px 9px; }
		}
	}
}