@import '../mixins.css.scss';

menu#filter {
	background: #E55453; @include border-radius(5px); @include width(12); margin: 0 0 10px 10px; height: 60px; z-index: 50;

	&.tools {
		input.keyword { width: 250px; background-position: 218px 9px; }
		div.select-container {
			width: 150px;

			div.trigger { background-position: 130px 18px; }
		}
	}

	select.category-select { display: none; }

	input::-webkit-input-placeholder { color: #fff; }
	input::-moz-placeholder { color: #fff; }

	input.keyword {
		background: #A43B3B url("/assets/keyword-icon.png") 328px 9px no-repeat; color: #fff; font-size: 13px; height: 40px; @include border-radius(3px); padding: 6px 33px 6px 12px; display: block; width: 360px; float: left; margin: 10px 0 0 10px;

		&:focus { background-color: #732827; outline: 0; }
	}

	div.select-container {
		position: relative; width: 200px; margin: 10px 0 0 10px; float: left;

		div.trigger { background: #A43B3B url("/assets/order-trigger.png") 180px 18px no-repeat; float: left; color: #fff; font-size: 13px; padding: 11px 33px 1px 12px; height: 40px; @include border-radius(3px); cursor: pointer; width: 100%; }

		select:focus + div.trigger { background-color: #732827; }
	}
}

header#top + menu#filter, menu#filter.docked {
	@include border-radius(0 0 5px 5px); position: fixed; top: 50px; left: 50%; margin-left: -470px;
}

//one column
@media only screen and (max-width : 639px) {
	header#top + menu#filter, menu#filter.docked {
		margin-left: -150px;
	}

	html:not(.admin) {
		menu#filter {
			@include width(4);
		}
	}
}

//two columns
@media only screen and (min-width: 640px) and (max-width: 959px) {
	header#top + menu#filter, menu#filter.docked {
		margin-left: -310px;
	}

	html:not(.admin) {
		menu#filter {
			@include width(8); height: 110px;

			&.tools {
				input.keyword { width: 250px; background-position: 218px 9px; }
				div.select-container {
					width: 295px;

					div.trigger { background-position: 275px 18px; }
				}
			}

			input.keyword { background-position: 328px 9px; width: 360px; }

			div.select-container {
				width: 200px;

				div.trigger { background-position: 180px 18px; }
			}
		}
	}
}