html.has-footer {
	/*
	Sticky Footer Solution
	by Steve Hatcher
	http://stever.ca
	http://www.cssstickyfooter.com
	*/
	height: 100%;

	body { height: 100%; }
	div.wrap-outer {
		min-height: 100%;

		div.wrap-inner { overflow: auto; padding-bottom: 260px; }
	}

	footer#bottom {
		color: #BFBDB6; height: 210px; background: #282823; font-size: 11px; position: relative; margin-top: -210px; clear: both; overflow: hidden;

		div.inner { width: 940px; }

		a {
			color: #BFBDB6; text-decoration: none;

			&:hover { color: #fff; }
		}

		div.top {
			padding: 24px 0 18px;

			nav {
				float: left; margin-right: 60px;

				h6 { font-size: 13px; color: #fff; text-transform: uppercase; margin-bottom: 12px; }

				&.social {
					ul {
						li {
							float: left; margin-right: 10px;

							a {
								background: url("/assets/social-icons-footer.png"); width: 40px; height: 40px; text-indent: -9999px; display: block;

								&.facebook {
									background-position: 0 -40px;

									&:hover { background-position: 0 0; }
								}
								&.google-plus {
									background-position: 0 -120px;

									&:hover { background-position: 0 -80px; }
								}
								&.linkedin {
									background-position: 0 -200px;

									&:hover { background-position: 0 -160px; }
								}
								&.pinterest {
									background-position: 0 -280px;

									&:hover { background-position: 0 -240px; }
								}
								&.stumbleupon {
									background-position: 0 -360px;

									&:hover { background-position: 0 -320px; }
								}
								&.twitter {
									background-position: 0 -440px;

									&:hover { background-position: 0 -400px; }
								}
							}
						}
					}
				}

				&.humanity-united {
					float: right; margin-right: 0;

					a { display: block; width: 172px; height: 42px; background: url("/assets/humanity-united.png"); text-indent: -9999px; }
				}

				ul {
					list-style: none;

					li { margin: 5px 0; }
				}
			}
		}

		div.bottom {
			border-top: 1px solid #3E3E39; padding-top: 18px;

			p {
				&.copyright { float: left; }
				&.octopus { float: right; }
			}
		}
	}

	//one column
	@media only screen and (max-width : 639px) {
		footer#bottom {
			div.inner { width: 300px; }

			div.top {
				nav {
					margin-right: 30px;

					&.social { margin-right: 0; }
				}
			}

			div.bottom { font-size: 10px; }
		}
	}

	//two columns
	@media only screen and (min-width: 640px) and (max-width: 959px) {
		footer#bottom {
			div.inner { width: 620px; }
		}
	}
}