@import '../mixins.css.scss';

header#top {
	position: fixed; top: 0; left: 0; width: 100%; z-index: 8000; background: #282823; color: #fff; height: 50px;

	a { color: #fff; text-decoration: none; }

	menu { list-style: none; }

	div.inner { padding: 0 10px; }
	h6 {
		float: left;

		a { display: block; width: 100%; height: 100%; text-indent: -9999px; width: 114px; height: 31px; background: url("/assets/logo.png"); margin: 9px 0 0 0; }
	}

	button#header-nav-trigger { display: none; }

	div.inner > nav {
		float: right; height: 50px; font-size: 13px; font-weight: 600; text-transform: uppercase; letter-spacing: -1px; position: relative;

		> ul {
			list-style: none; height: 50px;

			> li {
				float: left; height: 100%;

				&:last-child a {
					padding-right: 0;

					&.current:after { margin-left: 4.5px; }
				}

				&.profile {
					a {
						padding-top: 10px; padding-right: 0; padding-left: 12px;

						img { @include border-radius(42px); }
					}
				}

				> a {
					display: block; height: 100%; padding: 16px 21px 0; position: relative; outline: none;

					&.current {
						&:after { content: ""; width: 9px; height: 5px; display: block; position: absolute; background: url("/assets/current-page-marker.png"); left: 50%; margin-left: -4.5px; bottom: 0; }
					}

					&.fb-login {
						background: #4C66A4 url("/assets/shared/header/facebook-logo.png") 10px 5px no-repeat; @include border-radius(24px); padding: 6px 18px 6px 30px; height: auto; margin: 10px 0 0 6px;

						&:hover { background-color: lighten(#4C66A4, 1%); }

						@include retina-media {
							background-image: url("/assets/shared/header/facebook-logo@2x.png"); background-size: 12px 20px;
						}
					}
				}
			}
		}

		nav#user-nav {
			display: none; position: absolute; right: 0; background: #3E3E39; @include border-radius(0 0 6px 6px);

			&:before { content: ""; display: block; position: absolute; width: 9px; height: 5px; right: 10px; top: -5px; background: url("/assets/user-nav-arrow.png"); }

			ul {
				list-style: none; padding: 10px;

				li {
					a {
						padding: 5px 8px; @include border-radius(3px); display: block; width: 120px;

						&:hover { background: #4B4B45; }
					}
				}
			}
		}
	}
	&.filter-docked div.inner nav ul li a.current:after { background-position: 0 -5px; }
	&.toolbar-docked div.inner nav ul li a.current:after { background-position: 0 -10px; }

	//one column
	@media only screen and (max-width : 639px) {
		div.inner {
			position: static;

			button#header-nav-trigger { position: relative; float: right; }

			> nav {
				float: none; clear: left; font-size: 16px; position: absolute; top: 50px; left: 0; width: 100%; background: #41413C; max-height: 0; overflow: hidden; height: auto; @include transition(all 360ms linear);

				> ul {
					height: auto; margin: 0 auto;

					> li {
						float: none; padding-left: 0; border-bottom: 2px solid #292924;

						&.profile {
							a#user-nav-trigger {
								padding: 10px 0 5px;

								&:after { display: inline-block; content: attr(data-name); vertical-align: 9px; padding-left: 12px; }
							}

							a#user-nav-trigger.user-nav-open + nav#user-nav { max-height: 150px; }

							nav#user-nav {
								position: relative; background: transparent; display: block !important; max-height: 0; @include transition(all 210ms linear);

								ul {
									padding: 0;

									li {
										border-top: 2px solid #292924;

										a {
											width: 300px; display: block; margin: 0 auto; padding: 13px 0 13px 18px;

											&:hover { background: transparent; }
										}
									}
								}
							}
						}

						> a {
							letter-spacing: 0; padding: 0; width: 300px; display: block; margin: 0 auto; padding: 13px 0;

							&.current:after { display: none; }

							&.fb-login {
								background: transparent; padding: 13px 0; margin: 0 auto;

								&:hover { background: transparent; }
							}
						}
					}
				}
			}
		}

		button#header-nav-trigger { display: block; background: #3E3E39 url("/assets/header-nav-trigger.png") no-repeat center center; text-indent: -9999px; width: 30px; height: 30px; @include border-radius(3px); padding: 0; position: absolute; top: 10px; right: 10px; }

		&.nav-open {
			div.inner > nav { max-height: 450px; }
		}
	}

	//two columns
	@media only screen and (min-width: 640px) and (max-width: 959px) {
		div.inner > nav {
			float: left; font-size: 12px; @include opacity(0); margin-left: -1000px;

			> ul {
				> li {

					&:first-child a { padding-left: 0; }

					> a {
						&.current:after { display: none; }
					}
				}
			}
		}

		button#header-nav-trigger { display: block; background: #3E3E39 url("/assets/header-nav-trigger.png") no-repeat center center; text-indent: -9999px; width: 30px; height: 30px; @include border-radius(3px); padding: 0; position: absolute; top: 10px; right: 10px; }

		div.inner > nav, h6 { @include transition(all 300ms ease-out); }

		&.nav-open {
			h6 { margin-left: -1000px; }
			div.inner > nav { @include opacity(1); margin-left: 0; }
		}
	}
}