@import '../mixins.css.scss';

ul.items:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html ul.items { height: 1%; }
*:first-child+html ul.items { min-height: 1px; }
ul.items {
	list-style: none; box-sizing: content-box; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box;

	&.has-banner { padding-top: 10px; }
	&.filter-docked { margin-top: 70px; }

	> li {
		margin: 10px; @include border-radius(4px); @include box-shadow(0 1px rgba(0, 0, 0, 0.1)); @include transition(box-shadow ease-out 120ms);

		&:hover { @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.2)); }

		&.banner {
			background: #E55453; height: 60px; padding: 10px; margin: 0 10px 10px;

			p { color: #fff; font-size: 18px; font-weight: 300; font-style: italic; margin-top: 8px; float: left; }
			a { float: right; font-size: 16px; background: #A43B3B; }
		}

		// Category_banner =>
		// Single category banner with Title, Description, Illustration
		&.category_banner {
			height: 129px; padding: 15px 350px 15px 30px; position: relative; margin-bottom: 19px;

			&:after {
				content: ""; background: url("/assets/category-banner-sprite.png") no-repeat; position: absolute; right: 75px; top: 50%;

				@include retina-media {
					background: url("/assets/category-banner-sprite@2x.png") no-repeat; background-size: 160px 537px;
				}
			}

			&.activism:after          { background-position: -0px -0px; width: 140px; height: 80px; margin-top: -40px; }
			&.education:after         { background-position: -0px -80px; width: 156px; height: 74px; margin-top: -36px; }
			&.environment:after       { background-position: -0px -154px; width: 160px; height: 78px; margin-top: -39px; }
			&.governance:after        { background-position: -0px -232px; width: 152px; height: 88px; margin-top: -44px; }
			&.health:after            { background-position: -0px -320px; width: 136px; height: 80px; margin-top: -35px; }
			&.relief:after            { background-position: -0px -400px; width: 159px; height: 57px; margin-top: -29px; }
			&.social-enterprise:after { background-position: -0px -457px; width: 160px; height: 80px; margin-top: -40px; }

			h3 {
				color: #fff; text-transform: uppercase; font-size: 33px; font-family: 'DINCond', sans-serif; font-weight: 600;
			}

			p {
				font-size: 16px;
			}
		}

		&.link {
			@include width(4); float: left; background: #fff; height: $cols4; text-align: center;

			a {
				display: block; width: 100%; height: 100%;

				span {
					background: #F2F1ED; color: #A6A5A3; font-size: 13px; text-transform: uppercase; text-decoration: none; padding: 6px 12px 6px 27px; @include border-radius(30px); display: inline-block; margin-top: 135px; text-align: right; position: relative;

					&:before { content: ""; display: block; position: absolute; top: 10px; left: 11px; width: 12px; height: 12px; background: url("/assets/add.png"); }
				}
			}
		}
	}

	//one column
	@media only screen and (max-width : 639px) {
		> li {
			&.banner {
				p { display: none; }
				a { margin: 0 auto; float: none; display: block; width: 190px; text-align: center; }
			}

			&.category_banner {
				padding-right: 30px; padding-top: 150px; height: 345px;

				&:after {
					top: 80px; right: 50%;
				}

				&.activism:after          { background-position: -0px -0px; width: 140px; height: 80px; margin-right: -70px; }
				&.education:after         { background-position: -0px -80px; width: 156px; height: 74px; margin-right: -81px; }
				&.environment:after       { background-position: -0px -154px; width: 160px; height: 78px; margin-right: -80px; }
				&.governance:after        { background-position: -0px -232px; width: 152px; height: 88px; margin-right: -76px; }
				&.health:after            { background-position: -0px -320px; width: 136px; height: 80px; margin-right: -68px; }
				&.relief:after            { background-position: -0px -400px; width: 159px; height: 57px; margin-right: -80px; }
				&.social-enterprise:after { background-position: -0px -457px; width: 160px; height: 80px; margin-right: -80px; }

				h3 {
					margin-bottom: 10px; text-align: center;
				}

				p {
					display: block; text-align: center;
				}
			}
		}
	}

	//two columns
	@media only screen and (min-width: 640px) and (max-width: 959px) {
		&.filter-docked { margin-top: 120px; }

		> li {
			&.banner {
				p { font-size: 16px; width: 380px; margin-top: -2px; }
			}

			&.category_banner {
				padding-right: 220px; height: 145px;

				&:after {
					right: 45px;
				}

				h3 {
					margin-bottom: 10px;
				}
			}
		}
	}
}