<footer id="bottom">
	<div class="inner">
		<div class="top group">
			<nav class="about">
				<h6>About</h6>

				<ul>
					<li><%= link_to "About The Toolbox", about_path %></li>
					<li><a href="https://www.docracy.com/userprofile/show?userId=0uvi2yhspwp" target="_blank">Terms/Privacy Policy</a></li>
					<li><%= link_to "Suggest A Tool", suggestions_tools_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
					<li><%= link_to "Join the Newsletter", 'http://eepurl.com/D_1fL', target: "_blank" %></li>
				</ul>
			</nav>

			<nav class="social">
				<h6>Stay Connected</h6>

				<ul>
					<li><a target="_blank" class="twitter" href="https://twitter.com/toolbx">Twitter</a></li>
					<li><a target="_blank" class="facebook" href="https://www.facebook.com/toolbx">Facebook</a></li>
					<li><a target="_blank" class="google-plus" href="https://plus.google.com/106784600975594858394">Google Plus</a></li>
					<li><a target="_blank" class="linkedin" href="http://www.linkedin.com/company/2934733">LinkedIn</a></li>
				</ul>
			</nav>

			<nav class="humanity-united">
				<h6>Support From</h6>
				<a href="http://www.humanityunited.org/" target="_blank">Humanity United</a>
			</nav>

			<nav class="mixpanel">
				<h6>Analytics By</h6>
				<a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" /></a>
			</nav>
		</div>

		<div class="bottom">
			<p class="copyright"><a href="http://skylightpictures.com" target="_blank">© Skylight Pictures 2013</a></p>
			<p class="octopus"><a href="http://octopuscreative.com" target="_blank">Handcrafted by Octopus Creative</a></p>
		</div>
	</div>
</footer>