<footer id="bottom">
	<div class="inner">
		<div class="top group">
			<nav class="about">
				<h6>About</h6>

				<ul>
					<li><%= link_to "About The Toolbox", about_path %></li>
					<li><%= link_to "Privacy Policy", privacy_path %></li>
					<li><%= link_to "Suggest A Tool", suggestions_tools_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
				</ul>
			</nav>

			<nav class="social">
				<h6>Stay Connected</h6>

				<ul>
					<li><a target="_blank" class="twitter" href="https://twitter.com/toolbx">Twitter</a></li>
					<li><a target="_blank" class="facebook" href="https://www.facebook.com/toolbx">Facebook</a></li>
				</ul>
			</nav>
		</div>

		<div class="bottom">
			<p class="copyright"><a href="http://skylightpictures.com">© Skylight Pictures 2013</a></p>
			<p class="octopus"><a href="http://octopuscreative.com">Handcrafted by Octopus Creative</a></p>
		</div>
	</div>
</footer>