<div id="signup-cta">
	<div class="inner group">
		<div class="left">
			<h2>Discover the tools that can change your life and change the world</h2>
			<%= link_to 'Sign Up', signup_path, class: 'blue button sign-up-trigger' %>
		</div>
	</div>
</div>