<div id="signup-cta">
	<div class="inner group">
		<div class="left">
			<h2>Discover the tools humanitarians are using to change the world</h2>
			<%= link_to 'Sign Up', signup_path, class: 'blue button' %>
		</div>
	</div>
</div>