<div class="modal-wrapper" id="sign-up-modal">
	<h3 class="strike"><span>Sign Up</span></h3>
	<a href="/auth/facebook" class="facebook button">Sign up with Facebook</a>
	<div class="or"><span>or</span></div>
	<%= link_to 'Sign up with email', signup_path, class: 'red button' %>
</div>