.roundups.show {
    .roundups-header {
        background: #e8534f image-url('roundupbg.png') 96% center no-repeat;
        border-radius: 4px;
        margin: 80px 10px 40px;
        padding: 20px 240px 20px 30px;
        color: #fff;

        @media only screen and (max-width : 639px) { background: #e8534f; padding: 20px; }

        h1 { text-transform: uppercase; }
    }

    .btn {
        text-align: center;
        float: left;
        width: 100%;
        margin: 40px 0;
    }
}
