@import '../mixins.css.scss';

html.tools.show {
	div.show-tool-sprite {
		background: url("/assets/tools/show-sprite.png");

		.sprite.app-store { background-position: 0 0; width: 140px; height: 43px; }
		.sprite.google-play { background-position: 0 -43px; width: 140px; height: 43px; }
	}

	div.wrap-inner { padding-top: 90px; }

	section#tool-container {
		@include width(8); margin-left: 10px; background: #fff; float: left; padding: 20px; @include border-radius(6px); position: relative;

		header {
			border-bottom: 2px solid #EFEEED; padding-bottom: 20px;

			img.icon { display: block; @include border-radius(24px); margin-right: 20px; float: left; position: relative; }

			div.top { padding-bottom: 24px; }

			div.right {
				float: left; width: 422px;

				h1 { color: #5C5C54; font-size: 32px; font-weight: 600; width: 450px; }

				ul.categories {
					list-style: none; font-size: 15px; font-style: italic;

					li {
						margin: 0; float: left; padding-right: 4px;

						&:after { content: ", "; color: #E65453; }
						&:last-child:after { content: ""; }

						a { color: #E65453; text-decoration: none; }
					}
				}

				p.description { clear: left; font-size: 13px; line-height: 20px; padding-top: 15px; }
			}

			.bubble {
				background: #F2F1ED; @include border-radius(30px); position: relative;

				&.add-tool {
					float: left; padding: 7px 9px 6px 8px;

					&.join {
						&:hover {
							a.join { display: block; }
						}
					}

					&:hover {
						background: #E55453;

						a {
							color: #fff; text-transform: uppercase;

							&.default { display: none; }
						}

						&.join a.join { display: block; }
						&.add a.add { display: block; }
						&.remove a.remove { display: block; }
					}

					&.loading {
						background: #E55453;
						a { display: none !important; }
						div.loading { display: block; }
					}

					a {
						display: none;

						&.default { display: block; }
					}

					div.loading {
						display: none;

						div {
							float: left;

							&.loader { background: url("/assets/loading.gif") no-repeat center center; width: 16px; height: 24px; margin-left: 9px; float: left; }
						}
					}
				}

				&.platforms {
					float: right; padding: 7px 9px 7px 6px; list-style: none;

					li { float: left; margin-left: 3px; }
				}

				a {
					color: #A6A5A3; font-size: 16px; text-decoration: none; display: block; font-weight: 600;

					.action-icon { float: left; }
					span { display: block; float: left; margin: 1px 0 0 6px; }
				}
			}
		}

		div.details {
			font-size: 13px; border-bottom: 2px solid #EFEEED; padding: 20px 0 30px;

			ul.stores {
				width: 140px; float: left; margin-right: 18px; list-style: none;

				li {
					a {
						background: url("/assets/tools/stores.png"); display: block; width: 140px; height: 43px; text-indent: -9999px;

						&.app-store { background-position: 0 0; margin-bottom: 5px; }
						&.google-play { background-position: 0 -43px; }
					}
				}
			}

			ul.meta {
				list-style: none; float: left; width: 260px;

				li {
					margin-top: 9px;

					&:first-child { margin-top: 0; }

					&.devices {
						span {
							&:after { content: ", "; color: #E55352; }
							&:last-child:after { content: ""; }
						}
					}

					a { color: #E55352; text-decoration: none; }
				}
			}

			div.links {
				float: left; width: 120px; margin-left: 33px;

				h6 { font-size: 13px; }

				ul {
					list-style: none;

					li {
						margin-top: 9px;

						a { color: #E55352; text-decoration: none; }
					}
				}
			}
		}

		ul.screens {
			list-style: none; border-bottom: 2px solid #EFEEED; padding: 20px 0;

			li {
				float: left; margin-left: 20px;

				&:first-child { margin-left: 0; }

				img { @include border-radius(3px); vertical-align: bottom; position: relative; }
			}
		}

		div.disqus {
			padding-top: 24px;
		}
	}

	aside {
		@include width(4); float: right; margin-right: 10px;

		section {
			margin: 20px 0 30px;
		}
	}

	//one column
	@media only screen and (max-width : 639px) {
		section#tool-container {
			@include width(4); padding: 10px;

			header {
				div.top {
					img { margin: 10px auto 18px; float: none; }

					div.right {
						float: none; width: 280px; clear: left;

						h1 { width: 100%; text-align: center; }

						ul.categories {
							text-align: center;

							li { display: inline-block; float: none; padding-right: 0; }
						}

						p.description { text-align: center; color: #999792; width: 260px; margin-left: 10px; margin-right: 10px; }
					}
				}
			}

			div.details {
				ul.stores { float: none; margin-bottom: 24px; }
				ul.meta { float: none; margin-bottom: 24px; }
				div.links { float: none; margin-left: 0; }
			}

			ul.screens {
				width: 300px; margin-left: -10px;

				li {
					margin: 10px;

					&:first-child { margin-left: 10px; }
				}
			}
		}
	}

	//two columns
	@media only screen and (min-width: 640px) and (max-width: 959px) {
		aside {
			@include width(8);

			section {
				float: left; @include width(4); margin-left: 20px;

				&:nth-child(odd) { margin-left: 0; }
			}
		}
	}
}