@import '../mixins.css.scss';

li.tool {
	list-style: none; background: #fff; @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1)); @include width(4); float: left; height: $cols4; position: relative;

	&:hover {
		div.banner a img.desat { @include opacity(0); }
	}

	div.banner {
		height: 180px; background: #DCDCDC; position: relative;

		a {
			&:after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; @include box-shadow(inset 0 0 0 1px rgba(0, 0, 0, 0.09)); @include border-radius(4px 4px 0 0); }

			img { @include border-radius(4px 4px 0 0); position: absolute; top: 0; left: 0; @include transition(opacity ease-out 120ms); }
		}
	}

	div.meta {
		padding: 10px;

		img.icon { float: left; @include border-radius(12px); }
		div.right {
			float: left; padding-left: 10px; width: 220px;

			h3 {
				width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;

				a { font-weight: 600; color: #5C5C54; font-size: 22px; text-decoration: none; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
			}

			ul.categories {
				list-style: none; font-size: 13px; font-style: italic;

				li {
					margin: 0; float: left; padding-right: 4px;

					&:after { content: ", "; color: #E65453; }
					&:last-child:after { content: ""; }

					a { color: #E65453; text-decoration: none; }
				}
			}
		}

		div.bottom {
			clear: both; position: absolute; bottom: 10px; left: 10px; width: 280px;

			.bubble {
				background: #F2F1ED; @include border-radius(30px);

				&.add-tool { float: left; padding: 7px 9px 6px 8px; }
				&.platforms {
					float: right; padding: 7px 9px 7px 6px; list-style: none;

					li { float: left; margin-left: 3px; }
				}

				a {
					color: #A6A5A3; font-size: 13px; text-decoration: none; display: block;

					.action-icon { float: left; }
					span { display: block; float: left; margin: -1px 0 0 5px; }
				}
			}
		}
	}
}