@import '../mixins.css.scss';

.admin.users {

    .left { float: left; @include width(8); }

    .right {
        float: right;
        @include width(4);

        .full { width: 100%; }
    }

    .role-dropdown .chosen-search { display: none; }
}
