@import '../mixins.css.scss';

html.admin {
	h1.strike {
		@include width(12)
	}

	ul.items.filter-docked { margin-top: 100px; }

	//one column
	@media only screen and (max-width : 639px) {
		div.inner { width: 960px; }
	}

	//two columns
	@media only screen and (min-width: 640px) and (max-width: 959px) {
		div.inner { width: 960px; }
	}
}