<div id="billboard">
	<div class="inner">
		<h1 class="din med">404 — Page Not Found</h1>
		<h2>We emptied our toolbox and still couldn't find what you were looking for.</h2>
	</div>
</div>


<div class="inner">
	<h2 class="strike center"><span>What Now?</span></h2>

	<ul id="next-up" class="group">
		<li>
			<%= link_to 'Search for Tools', tools_path, class: 'tools din med' %>
		</li>
		<li>
			<%= link_to 'Read Articles', articles_path, class: 'articles din med' %>
		</li>
		<li>
			<%= link_to 'Learn More About Us', about_path, class: 'about din med' %>
		</li>
	</ul>
</div>