<div class="inner group top-section">
    <div class="how">
        <h2 class="strike"><span>What is an apptivist?</span></h2>
        <p>The Toolbox aims to transform the crowd noise that dominates the web today into effective communities of action.</p>
        <p>We envision a single platform where citizen activists can be deeply engaged in a range of issues and events around the world. This virtual space will provide easy access to the most useful information and tools for social change as well as clear avenues for taking meaningful action. Toolbox will connect disparate individuals, organizations and networks into a powerful global community of advocates working for social good.</p>
    </div>
</div>

<div class="inner the-team">
    <h2 class="strike"><span>Apptivists</span></h2>

    <ul class="group user-list">
        <li>
            <img src="http://placehold.it/200x200" alt="" class="person" />
            <h3 class="din med">Peter Gabriel</h3>
            <h4 class="title">Founder asodho ashd ijasidbasid biahsd has idjhasi </h4>
        </li>
        <% 8.times do %>
        <li>
            <img src="http://placehold.it/200x200" alt="" class="person" />
            <h3 class="din med">Peter Gabriel</h3>
            <h4 class="title">Founder</h4>
        </li>
        <% end %>
    </ul>
</div>
