<ul class="items">
	<li class="link">
		<%= link_to 'Add Tool', new_admin_tool_path %>
	</li>

	<% @tools.each do |tool| %>
		<li>
			<h3><%= tool.name %></h3>
			<%= link_to 'Edit Tool', edit_admin_tool_path(tool) %>
		</li>
	<% end %>
</ul>