@import '../../mixins.css.scss';

html.admin.tools.new, html.admin.tools.create, html.admin.tools.edit, html.admin.tools.update {
	form.new_tool, form.edit_tool {
		margin: 0 10px;

		span.char-counter {
			position: absolute; top: 2px; right: 0; color: #5D5D55; font-style: italic; font-size: 12px; @include transition(color 200ms ease-out);

			&.warning { color: #E55453; }
		}

		div.left {
			float: left; @include width(8);
		}

		div.right {
			float: right; @include width(4);

			div.icon {
				div.icon-inner {
					width: 140px; height: 140px; padding: 8px; background: #fff; border: 2px solid #D9D8D4; @include border-radius(6px);

					div.inside {
						width: 120px; height: 120px; background: #F2F1ED; position: relative; @include border-radius(3px);

						div.validation-error { display: none; }
						div.field_with_errors { width: 100%; height: 100%; background: #E55453; position: absolute; top: 0; left: 0; @include border-radius(3px); }

						img { position: absolute; top: 0; left: 0; @include border-radius(3px); }
						input { @include opacity(0); display: block; width: 1px; height: 1px; position: absolute; bottom: 0; right: 0; }
						button {
							position: absolute; display: block; top: 50%; left: 50%; margin-top: -13px; margin-left: -45px; width: 90px; background: #BFBDB6; padding: 6px 9px; font-size: 12px;

							span { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; width: 100%; }
						}
					}
				}
			}

			div.screens {
				label {
					a { color: #E65453; font-weight: normal; font-size: 14px; float: right; text-decoration: none; text-transform: none; }
				}

				div.screens-inner {
					border: 2px solid #D9D8D4; @include border-radius(6px); background: #fff;

					ul {
						list-style: none; padding: 5px;

						li {
							margin: 5px; background: #F2F1ED; position: relative; height: 50px; cursor: pointer; @include border-radius(3px); position: relative;

							div.validation-error { display: none; }
							div.field_with_errors { width: 100%; height: 100%; background: #E55453; position: absolute; top: 0; left: 0; @include border-radius(3px); }

							div.handle { position: absolute; top: 0; left: 0; text-align: center; background: url("/assets/drag.png") no-repeat center center; width: 30px; height: 100%; cursor: move; z-index: 1; }
							div.picker {
								float: left; width: 220px; margin: 10px 0 0 30px; z-index: 1; position: relative;

								img { @include border-radius(3px); float: left; display: block; }
								span.name { font-size: 12px; color: #646464; float: left; overflow: hidden; width: 100%; white-space: nowrap; text-overflow: ellipsis; margin-top: 7px; }
								img + span.name { width: 180px; margin-left: 9px; }
							}
							a.delete { display: block; position: absolute; color: #BFBDB6; text-decoration: none; font-weight: bold; font-size: 24px; top: 50%; margin-top: -17px; right: 10px; z-index: 1; }



							input[type="file"] { display: none; }
						}
					}
				}
			}
		}

		div.actions {
			padding-top: 22px;

			a, input { display: block; float: left; margin-right: 10px; }
			a.delete { color: #E65453; margin: 10px 0 0 10px; text-decoration: none; }
		}
	}
}