<div id="billboard">
	<div class="inner">
		<h4>"My biggest hope is that people's power will become a reality"</h4>
		<p>– Peter Gabriel</p>
	</div>
</div>
<%= render 'shared/signup_cta' unless current_user %>

<div class="inner group top-section">
	<div class="how">
		<h2 class="strike center"><span>How?</span></h2>

		<p>The Toolbox aims to transform the crowd noise that dominates the web today into effective communities of action.</p>
		<p>We envision a single platform where citizen activists can be deeply engaged in a range of issues and events around the world. This virtual space will provide easy access to the most useful information and tools for social change as well as clear avenues for taking meaningful action. Toolbox will connect disparate individuals, organizations and networks into a powerful global community of advocates working for social good.</p>
	</div>

	<div class="useful-toolbox">
		<h2 class="strike center"><span>A Toolbox For Good</span></h2>

		<ul>
			<li>
				<div class="about-sprite discover"></div>
				<h5 class="din med">Discover</h5>
			</li>
			<li>
				<div class="about-sprite curate"></div>
				<h5 class="din med">Curate</h5>
			</li>
			<li>
				<div class="about-sprite share"></div>
				<h5 class="din med">Share</h5>
			</li>
		</ul>
	</div>
</div>

<div class="inner the-team">
	<h2 class="strike center"><span>The Team</span></h2>

	<ul class="group">
		<li>
			<div class="pic about-sprite alejandro"></div>
			<h3 class="din med">Alejandro de Onís</h3>

			<p class="about">Alejandro de Onís is a social entrepreneur and Director of Skylight Digital. He works to increase impact and outreach by creating platforms and new media technologies that make it easy for people to engage with social issues. Some new media projects include, <a target="_blank" href="http://ijcentral.org">International Justice Central</a>, <a target="_blank" href="http://granitomem.com">Granito: Every Memory Matters</a>, <a target="_blank" href="http://thetoolbox.org">The Toolbox</a>. In the past, Alejandro has worked on various documentary films and television shows for PBS, The Discovery Channel, National Geographic, and A&amp;E.</p>

			<ul class="contact group">
				<li><a class="about-sprite twitter" href="https://twitter.com/aonis">Twitter</a></li>
				<li><a class="about-sprite email" href="mailto:alejandro@thetoolbox.org">Email</a></li>
			</ul>
		</li>
		<li class="mark">
			<div class="pic about-sprite mark"></div>
			<h3 class="din med">Mark Belinsky</h3>

			<p class="about">Mark is the CTO of The Toolbox. He has worked in over 26 countries as co-founder of human rights organization Digital Democracy and Bem youth action center in Armenia. He led the development of several technologies while at Purpose and at The Guardian Project. He has appeared as a guest on Al-Jazeera English, BBC Radio and NPR, testified at US Congress and consulted with numerous heads of state.</p>

			<ul class="contact group">
				<li><a class="about-sprite twitter" href="https://twitter.com/mbelinsky">Twitter</a></li>
				<li><a class="about-sprite email" href="mailto:mark@thetoolbox.org">Email</a></li>
			</ul>
		</li>
		<li>
			<div class="pic about-sprite peter"></div>
			<h3 class="din med">Peter Gabriel</h3>

			<p class="about">Musician Peter Gabriel is the founder of The Toolbox. A founder of the band Genesis, Gabriel is now a solo artist and record mogul, championing world music and innovation.  He founded or co-founded several technology companies, including: Syco Systems; <a target="_blank" href="http://thefilter.com/">theFilter.com</a>; <a target="_blank" href="http://we7.com/">We7.com</a>; <a target="_blank" href="http://gabble.com/">Gabble.com</a>; <a target="_blank" href="http://thememory.com/">theMemory.com</a>; <a target="_blank" href="http://witness.org/">Witness.org</a>, using video for change; <a target="_blank" href="http://theelders.org/">theElders.org</a>. Recipient of awards, including: 2006, Nobel Peace Laureate's Man of Peace; Chevalier dans l'Ordre des Arts et des Lettres; four Grammy music awards; Quadriga Award.</p>

			<ul class="contact group">
				<li><a class="about-sprite twitter" href="https://twitter.com/itspetergabriel">Twitter</a></li>
				<li><a class="about-sprite email" href="mailto:peter@thetoolbox.org">Email</a></li>
			</ul>
		</li>
	</ul>
</div>

<div class="inner the-organization">
	<h2 class="strike center"><span>The Organization</span></h2>

	<ul class="group">
		<li>
			<a target="_blank" href="http://skylight.is">
				<div class="about-sprite skylight"></div>
				<h5 class="din med">Skylight Digital</h5>
			</a>
		</li>
		<li>
			<a target="_blank" href="https://maps.google.com/maps?q=33+Flatbush+Ave.,Brooklyn,+NY+11217">
				<div class="about-sprite location"></div>
				<h5 class="din med">Location</h5>
			</a>
		</li>
		<li>
			<%= link_to contact_path do %>
				<div class="about-sprite contact"></div>
				<h5 class="din med">Contact Us</h5>
			<% end %>
		</li>
	</ul>
</div>