<div id="billboard">
	<div class="inner">
		<h4>"My biggest hope is that people's power will become a reality"</h4>
		<p>– Peter Gabriel</p>
	</div>
</div>
<%= render 'shared/signup_cta' unless current_user %>

<div class="inner group top-section">
	<div class="how">
		<h2 class="strike center"><span>How?</span></h2>

		<p>What if every smartphone had one app that makes the world a better place? We'd have over 1 billion ways to make a change. The Toolbox is a space for people from around the world to easily access the most useful information and tools for social change. With this knowledge, we're making it easier for people to take meaningful action in their communities. We're creating a global community of advocates working for social good. Let's get building.</p>
	</div>

	<div class="useful-toolbox">
		<h2 class="strike center"><span>A Toolbox For Good</span></h2>

		<ul>
			<li>
				<div class="about-sprite discover"></div>
				<h5 class="din med">Discover</h5>
			</li>
			<li>
				<div class="about-sprite curate"></div>
				<h5 class="din med">Curate</h5>
			</li>
			<li>
				<div class="about-sprite share"></div>
				<h5 class="din med">Share</h5>
			</li>
		</ul>
	</div>
</div>

<div class="inner the-team">
	<h2 class="strike center"><span>The Team</span></h2>

	<ul class="group">
		<li>
			<div class="pic about-sprite alejandro"></div>
			<h3 class="din med">Alejandro de Onís</h3>

			<p class="about last">Alejandro de Onís is a social entrepreneur and Director of Skylight Digital. He works to increase impact and outreach by creating platforms and new media technologies that make it easy for people to engage with social issues. Some new media projects include, <a target="_blank" href="http://ijcentral.org">International Justice Central</a>, <a target="_blank" href="http://granitomem.com">Granito: Every Memory Matters</a>, <a target="_blank" href="http://thetoolbox.org">The Toolbox</a>. In the past, Alejandro has worked on various documentary films and television shows for PBS, The Discovery Channel, National Geographic, and A&amp;E.</p>

			<ul class="contact group">
				<li><a class="about-sprite twitter" href="https://twitter.com/aonis">Twitter</a></li>
				<li><a class="about-sprite email" href="mailto:alejandro@thetoolbox.org">Email</a></li>
			</ul>
		</li>
		<li class="mark">
			<div class="pic about-sprite mark"></div>
			<h3 class="din med">Mark Belinsky</h3>

			<p class="about last">Mark is the CTO of The Toolbox. He has worked in over 26 countries as co-founder of human rights organization Digital Democracy and Bem youth action center in Armenia. He led the development of several technologies while at Purpose and at The Guardian Project. He has appeared as a guest on Al-Jazeera English, BBC Radio and NPR, testified at US Congress and consulted with numerous heads of state.</p>

			<ul class="contact group">
				<li><a class="about-sprite twitter" href="https://twitter.com/mbelinsky">Twitter</a></li>
				<li><a class="about-sprite email" href="mailto:mark@thetoolbox.org">Email</a></li>
			</ul>
		</li>
		<li>
			<div class="pic about-sprite peter"></div>
			<h3 class="din med">Peter Gabriel</h3>

			<p class="about">Peter co-founded the group Genesis at school in 1966 and the band went on to make 7 albums. He left Genesis in 1975 and has since made 11 solo albums and three film soundtracks, which include Birdy (1984 - Alan Parker), The Last Temptation of Christ (1989 - Martin Scorsese) and Rabbit Proof Fence (2002 – Philip Noyce).</p>
			<p class="about">In 1980 Peter founded WOMAD (World of Music Arts and Dance), which has presented over 150 festivals in over 40 countries, introducing millions of people to artists from all over the world.</p>
			<p class="about">Peter’s Human Rights works include, the co-ordination of and participation in the Human Rights Now! Tour, in 1988 with Amnesty International. As a result of this experience, he co-founded <a target="_blank" href="http://witness.org">Witness.org</a> in 1989, giving cameras and computers to human rights activists. Witness has won many awards and has been working to provide a platform for human rights video from all over the world. In 2008, Witness created the Hub and in 2012 launched the Human Rights Channel with YouTube<br>and Storyfull.</p>
			<p class="about">In 2000, Peter co-founded <a target="_blank" href="http://elders.org">Elders.org</a> with Richard Branson, which Nelson Mandela launched in 2007 to create a small group of global elders to assist with global problems and conflict resolution. Their authority is based not on political, economic or military power but trust and respect. They are free to think and act outside of normal political constraints, encourage longterm thinking, and provide a voice for the voiceless.</p>
			<p class="about">Peter’s business interests have been in the field of music, media and technology. In 1987 he founded the Real World Group of companies. In 1999, he co-founded OD2, which became the leading European platform provider for the distribution of on-line music. He also co-founded <a target="_blank" href="http://thefilter.com">thefilter.com</a>, <a target="_blank" href="http://we7.com">We7.com</a> and Cuesongs, and is currently developing several projects, including a visual language for the internet.</p>
			<p class="about last">Amongst awards Peter has received, are the Man of Peace Award, presented by the Nobel Peace Laureates, the ‘Chevalier dans l’Ordre des Arts et des Lettres’ and also the Quadriga Award. Lifetime achievement awards include BT’s Digital Music Pioneer Award, and he has received five Grammy awards for his music and video work and an Oscar nomination.</p>

			<ul class="contact group">
				<li><a class="about-sprite twitter" href="https://twitter.com/itspetergabriel">Twitter</a></li>
			</ul>
		</li>
	</ul>
</div>

<div class="inner the-organization">
	<h2 class="strike center"><span>The Organization</span></h2>

	<ul class="group">
		<li>
			<a target="_blank" href="http://skylight.is">
				<div class="about-sprite skylight"></div>
				<h5 class="din med">Skylight Digital</h5>
			</a>
		</li>
		<li>
			<a target="_blank" href="https://maps.google.com/maps?q=33+Flatbush+Ave.,Brooklyn,+NY+11217">
				<div class="about-sprite location"></div>
				<h5 class="din med">Location</h5>
			</a>
		</li>
		<li>
			<%= link_to contact_path do %>
				<div class="about-sprite contact"></div>
				<h5 class="din med">Contact Us</h5>
			<% end %>
		</li>
	</ul>
</div>

<div class="inner advisors">
	<h2 class="strike center"><span>Advisors</span></h2>

	<ul class="group">
		<li>
			<div class="pic about-sprite wendy"></div>
			<h4 class="din med">Wendy Levy</h3>
		</li>
		<li>
			<div class="pic about-sprite yvette"></div>
			<h4 class="din med">Yvette<br>Alberdingk-Thijm</h3>
		</li>
		<li class="empty"></li>
		<li class="empty"></li>
		<li class="empty"></li>
		<li class="empty"></li>
	</ul>
</div>