@import 'mixins.css.scss';

* { margin: 0; padding: 0; border: 0; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; }
body, input, select, textarea, button { -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-family: sans-serif; }

html { height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

img { -ms-interpolation-mode: bicubic; }
strong { font-weight: bold; }
em { font-style: italic; }

::selection { background: red; color: white; }
::-moz-selection { background: red; color: white; }
img::selection { background: transparent; }
img::-moz-selection { background: transparent; }
body { -webkit-tap-highlight-color: rgba(255,0,0, 0.62); }

/*
Sticky Footer Solution
by Steve Hatcher
http://stever.ca
http://www.cssstickyfooter.com
*/
html, body { height: 100%; }
div.wrap-outer {
	min-height: 100%;

	div.wrap-inner { padding-top: 50px; overflow: auto; padding-bottom: 120px; }
}

footer#bottom { position: relative; margin-top: -50px; clear: both; overflow: hidden; }


/* Clearfix: */
.group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .group { height: 1%; }
*:first-child+html .group { min-height: 1px; }
/* End clearfix */


// End resets and stuff.
body { background: #F0F0F0; font-size: 14px; color: #7D7D7D; }

header#top, footer#bottom {
	background: #646464; color: #fff; height: 50px;

	a { color: #fff; text-decoration: none; }

	menu { list-style: none; }
}

header#top {
	position: fixed; top: 0; left: 0; width: 100%; z-index: 9999;

	h6 { float: left; font-size: 24px; }
	menu {
		float: right; height: 50px;

		li {
			float: left; border-right: 1px solid #515151; height: 100%;

			&:first-child { border-left: 1px solid #515151; }

			a {
				display: block; height: 100%; padding: 15px 20px 0;

				&.current { border-bottom: 4px solid #505050; }
			}
		}
	}
}

h1.strike:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html h1.strike { height: 1%; }
*:first-child+html h1.strike { min-height: 1px; }
h1.strike {
	@include width(8); position: relative; margin: 80px 0 30px;

	&:before { border-top: 1px solid #C8C8C8; border-bottom: 1px solid #C8C8C8; height: 0; content: ""; display: block; position: absolute; top: 50%; left: 0; width: 100%; }

	span { background: #F0F0F0; position: relative; padding-right: 18px; float: left; text-transform: uppercase; }

	menu {
		float: right; list-style: none; background: #F0F0F0; position: relative; margin-top: 3px;

		li {
			float: left; padding: 0 20px;

			a {
				display: block; font-size: 16px; line-height: 30px; color: #7D7D7D; font-weight: 600; padding: 0 0; text-decoration: none; text-transform: uppercase;

				&.current { border-bottom: 2px solid #A0A0A0; }
			}
		}
	}
}

button, .button {
	background: #4C4C4C; font-size: 12px; color: #fff; padding: 6px 18px; @include border-radius(30px); font-weight: 600; text-transform: uppercase; cursor: pointer;

	&.submit {
		background: #7D7D7D; font-size: 16px; padding: 9px 30px;
	}
}

form {
	div.field {
		@include width(4); margin: 0 20px 18px 0;

		&.last, &.full { margin-right: 0; }
		&.full { @include width(8); clear: left; }
		&.tiny { width: 80px; }
		&.check { width: 200px; }
		&.inline { float: left; }

		label { display: block; font-size: 16px; font-weight: 600; margin-bottom: 4px; text-transform: uppercase; }
		input, select, textarea { font-size: 14px; padding: 16px 9px 17px; display: block; width: 100%; }
		textarea { height: 130px; resize: vertical; }
	}

	div.actions {
		clear: both;
	}
}

div.inner { position: relative; margin: 0 auto; @include width(12); }