@import 'mixins.css.scss';

* { margin: 0; padding: 0; border: 0; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; }
body, input, select, textarea, button { -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-family: "OpenSans", sans-serif; }

html { height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

img { -ms-interpolation-mode: bicubic; }
strong { font-weight: bold; }
em { font-style: italic; }

::selection { background: #4BCFEB; color: #fff; }
::-moz-selection { background: #4BCFEB; color: #fff; }
img::selection { background: transparent; }
img::-moz-selection { background: transparent; }
body { -webkit-tap-highlight-color: rgba(255,0,0, 0.62); }


/* Clearfix: */
.group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .group { height: 1%; }
*:first-child+html .group { min-height: 1px; }
/* End clearfix */

/* AddThis Fixes */
div.addthis_toolbox { clear: both; padding-top: 12px; }
div#at3win, div#at3win *, div#at20mc, div#at20mc *, div.addthis_toolbox, div.addthis_toolbox * { box-sizing: content-box; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; }
/* End AddThis Fixes */


// End resets and stuff.
body { background: #F2F1ED; font-size: 14px; color: #5C5C55; }

.din {
	@include din;

	&.light { font-weight: 300 !important; }
	&.med { font-weight: 600 !important; }
	&.bold { font-weight: bold !important; }
}

// Signup CTA
div#signup-cta {
	background: #B84342; height: 60px; padding: 10px 0; z-index: 5;

	&.docked { position: fixed; top: 50px; width: 100%; left: 0; }

	div.inner { padding: 0 10px; }

	h2 { color: #fff; font-size: 22px; font-weight: 300; font-style: italic; float: left; margin-top: 4px; }
	a { width: 140px; display: block; float: right; text-align: center; }

	//one column
	@media only screen and (max-width : 639px) {
		h2 { display: none; }
		a { margin: 0 auto; float: none; }
	}

	//two columns
	@media only screen and (min-width: 640px) and (max-width: 959px) {
		h2 { font-size: 17px; margin-top: 7px; }
		a { width: 120px; }
	}
}

div.wrap-inner { padding: 50px 0; }

.action-icon {
	background: url("/assets/action-icons.png"); width: 16px; height: 16px; text-indent: -9999px; background-repeat: none;

	&.android { background-position: 0 0; }
	&.desktop { background-position: -16px 0; }
	&.star { background-position: -32px 0; }
	&.ios { background-position: -48px 0; }
	&.toolbox { background-position: -64px 0; }
	&.web { background-position: -80px 0; }
	&.white-toolbox { background-position: -96px 0; }
	&.white-star { background-position: -112px 0; }

	&.large {
		width: 24px; height: 24px;

		&.android { background-position: 0 -16px; }
		&.desktop { background-position: -24px -16px; }
		&.star { background-position: -48px -16px; }
		&.ios { background-position: -72px -16px; }
		&.toolbox { background-position: -96px -16px; }
		&.web { background-position: -120px -16px; }
		&.white-toolbox { background-position: -144px -16px; }
		&.white-star { background-position: -168px -16px; }
	}
}

h1.strike:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html h1.strike { height: 1%; }
*:first-child+html h1.strike { min-height: 1px; }
h1.strike {
	@include din(600); font-size: 48px; @include width(8); position: relative; margin: 80px 10px 30px; color: #5C5C54;

	&:before { border-top: 1px solid #D9D8D4; border-bottom: 1px solid #D9D8D4; height: 0; content: ""; display: block; position: absolute; top: 50%; left: 0; width: 100%; }

	span { background: #F2F1ED; position: relative; padding-right: 18px; float: left; text-transform: uppercase; }

	menu {
		float: right; list-style: none; background: #F2F1ED; position: relative; margin-top: 15px; padding-left: 12px; font-family: "OpenSans", sans-serif;

		li {
			float: left; padding-left: 24px;

			a {
				display: block; font-size: 16px; line-height: 30px; color: #7D7D7D; font-weight: 600; text-decoration: none; text-transform: uppercase; padding: 0 12px; @include border-radius(30px); position: relative;

				&.current { background: #E55453; color: #F2F1ED; }
			}
		}
	}

	@media only screen and (max-width : 639px) {
		@include width(4);
	}
}

h2.strike:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html h2.strike { height: 1%; }
*:first-child+html h2.strike { min-height: 1px; }
h2.strike {
	@include din(600); font-size: 36px; position: relative; margin: 0 10px 20px; color: #5C5C54; clear: both;

	&:before { border-top: 1px solid #D9D8D4; border-bottom: 1px solid #D9D8D4; height: 0; content: ""; display: block; position: absolute; top: 50%; left: 0; width: 100%; }

	&.center {
		text-align: center;

		span { float: none; display: inline-block; padding: 0 18px; }
	}

	span { background: #F2F1ED; position: relative; padding-right: 18px; float: left; text-transform: uppercase; }

	menu {
		float: right; list-style: none; background: #F2F1ED; position: relative; margin-top: 7px; padding-left: 12px; font-family: "OpenSans", sans-serif;

		li {
			float: left; padding-left: 24px;

			a {
				display: block; font-size: 15px; line-height: 30px; color: #7D7D7D; font-weight: 600; text-decoration: none; text-transform: uppercase; padding: 0 12px; @include border-radius(30px); position: relative;

				&.current { background: #E55453; color: #F2F1ED; }
			}
		}
	}
}

h3.strike:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html h3.strike { height: 1%; }
*:first-child+html h3.strike { min-height: 1px; }
h3.strike {
	@include din(600); font-size: 24px; position: relative; margin: 0 0 20px; color: #BFBDB6; clear: both;

	&:before { border-top: 1px solid #D9D8D4; border-bottom: 1px solid #D9D8D4; height: 0; content: ""; display: block; position: absolute; top: 50%; left: 0; width: 100%; }

	span { background: #F2F1ED; position: relative; padding-right: 18px; float: left; text-transform: uppercase; }
}

button, .button {
	background: #BFBDB6; font-size: 16px; color: #fff; padding: 6px 18px; @include border-radius(30px); font-weight: 600; text-transform: uppercase; cursor: pointer; padding: 9px 24px; text-decoration: none; position: relative;

	&:hover { background: darken(#BFBDB6, 5%); }

	&.submit {
		background: #E55453;

		&:hover { background: lighten(#E55453, 2%); }
	}

	&.blue {
		background: #4BCFEB; color: #225F6D; font-weight: normal;

		&:hover { background: darken(#4BCFEB, 10%); }
	}
	&.gray {
		background: #41413C;

		&:hover { background: darken(#41413C, 2%); }
	}

	&.semibold { font-weight: 600; }
}

div#error_explanation {
	margin: 0 0 30px;

	ul {
		margin-left: 18px;

		li { margin: 3px 0; }
	}
}

// Slider Checkboxes
div.slider-checkbox {
	position: relative; width: 140px; height: 50px; border: 2px solid #ADABA1; @include border-radius(6px); overflow: hidden; cursor: pointer; background: #D9D8D4;

	&.focused { border-color: #807E77; }
	&.checked {
		background: #4BCFEB; border-color: #2E8DA3;

		div.slider {
			div.selected-item { border-color: #2E8DA3; }
			span { color: #fff; }
		}

		&.focused { border-color: #1B5360; }
	}

	input { display: block; position: absolute; left: -9999px; }

	div.slider {
		width: 205px; position: absolute; @include transition(left 180ms ease-out); margin: 3px 0 0 -2px;

		span { font-size: 16px; color: #5C5C54; width: 70px; text-align: center; display: block; float: left; margin-top: 9px; position: relative; z-index: 1; }

		div.selected-item { float: left; background: #fff url("/assets/slider-grips.png") no-repeat center center; border: 2px solid #ADABA1; width: 65px; height: 40px; @include border-radius(3px); }
	}
}

// Form Actions!
div.actions {
	padding-top: 22px;

	button, .button { float: left; margin-right: 10px; }
}

div.select-container {
	position: relative; height: 50px; @include width(4);

	select { display: block; width: 100%; height: 100%; @include opacity(0); position: absolute; top: 0; left: 0; }
	div.trigger { background: #fff url("/assets/select-trigger.png") 268px 18px no-repeat; color: #BFBDB6; font-size: 16px; padding: 11px 33px 1px 12px; height: 100%; @include border-radius(3px); cursor: pointer; width: 100%; }

	select:focus + div.trigger { background-color: #BFBDB6; }
}

div.inner { position: relative; margin: 0 auto; width: 960px; }

//one column
@media only screen and (max-width : 639px) {
	div.inner { width: 320px; }
}

//two columns
@media only screen and (min-width: 640px) and (max-width: 959px) {
	div.inner { width: 640px; }
}