@import 'mixins.css.scss';

html.users.edit, html.users.update {
	h1 { @include width(12); }

	div.settings-container {
		margin-left: 10px;

		div.top, div.bottom div.left { @include width(8); }

		div.top {
			border-bottom: 2px solid #D9D8D4; padding-bottom: 21px;

			div.change-password-container {
				display: none;

				&.editing-password { display: block; }
			}
		}

		div.bottom {
			padding-top: 33px;

			span#bio-counter {
				font-size: 12px; position: absolute; display: block; top: 2px; right: 0; font-weight: 600;

				&.invalid { color: #A43B3B; }
			}

			div.left { float: left; }

			div.right {
				float: left; @include width(2); margin-left: 20px;

				div.profile-picture {
					div.profile-picture-inner {
						width: 140px; height: 140px; padding: 8px; background: #fff; border: 2px solid #D9D8D4; @include border-radius(6px);

						div.inside {
							width: 120px; height: 120px; background: #F2F1ED; position: relative; @include border-radius(3px);

							div.validation-error { display: none; }
							div.field_with_errors { width: 100%; height: 100%; background: #E55453; position: absolute; top: 0; left: 0; @include border-radius(3px); }

							img { position: absolute; top: 0; left: 0; @include border-radius(3px); width: 100%; height: 100%; display: block; }
							input { display: none; }
							button {
								position: absolute; display: block; top: 50%; left: 50%; margin-top: -13px; margin-left: -45px; width: 90px; background: #BFBDB6; padding: 6px 9px; font-size: 12px;

								span { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; width: 100%; }
							}
						}
					}
				}
			}
		}
	}
}