@import 'mixins.css.scss';

html.users.show_tools, html.users.show_articles {
	header.user {
		background: #fff; @include width(12); @include border-radius(5px); padding: 20px; margin: 40px 0 0 10px;

		div.left {
			float: left;

			img { @include border-radius(90px); }
		}

		div.right {
			float: left;
		}

		nav.social {
			ul {
				li {
					float: left; margin-right: 10px;

					a {
						background: url("/assets/users/social-icons.png"); width: 40px; height: 40px; text-indent: -9999px; display: block;

						&.facebook {
							background-position: 0 -40px;
							&:hover { background-position: 0 0; }
						}
						&.google-plus {
							background-position: 0 -120px;
							&:hover { background-position: 0 -80px; }
						}
						&.linkedin {
							background-position: 0 -200px;
							&:hover { background-position: 0 -160px; }
						}
						&.twitter {
							background-position: 0 -280px;
							&:hover { background-position: 0 -240px; }
						}
						&.website {
							background-position: 0 -360px;
							&:hover { background-position: 0 -320px; }
						}
					}
				}
			}
		}
	}

	h2.strike { margin-top: 42px; }
}