@import '../mixins.css.scss';

li.user {
	list-style: none; background: #fff; @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1)); @include width(4); float: left; height: 120px; position: relative; @include border-radius(4px); margin-bottom: 10px; padding: 10px;

	img.profile-picture { display: block; float: left; @include border-radius(60px); }

	div.right {
		float: left; margin-left: 10px; width: 210px;

		h4 {
			width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;

			a { color: #5C5C55; font-size: 18px; font-weight: 600; text-decoration: none; }
		}

		ul.categories {
			list-style: none; font-size: 13px; font-style: italic;

			li {
				margin: 0; float: left; padding-right: 4px; color: #909090;

				&:after { content: ", "; color: #909090; }
				&:last-child:after { content: ""; }

				a { color: #E65453; text-decoration: none; }
			}
		}
	}

	div.bottom {
		clear: both; position: absolute; bottom: 10px; left: 10px; width: 280px;

		div.bubble {
			background: #F2F1ED; @include border-radius(30px); float: right; margin-left: 10px; padding: 7px 9px 6px 8px;

			a {
				color: #A6A5A3; font-size: 13px; text-decoration: none; display: block;

				.action-icon { float: left; }
				span { display: block; float: left; margin: -1px 0 0 5px; }
			}
		}
	}
}